@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* 上記cssのリセット */

body{
    background-color: #eeeeee;
}

.container{
    max-width: 960px;
    /* 可変のためmax */
    background-color:#eeeeee;
    margin: 0 auto;
}

h2{
    padding-bottom: 30px;
}


ul{
    display: flex;
    justify-content: space-between;
}

li{
    width:31.25%;
    background-color: white;
    padding-bottom: 10px;
}

p{
    padding-left: 7px;
    line-height: 1.5;

}
.title{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: #008080;
    font-size: 30px;    
}

.content-title{
    margin: 5px 5px 5px 5px;
    color: #008080;
    border-left: solid 10px #008080;
}

@media screen and (max-width:400px){

    ul{ 
        display: block;
        padding-bottom: 30px;
        margin:0 40px 0 40px;
    }

    li {
        width:100%;
        margin-bottom:30px;

    }

}
